@model IEnumerable<ConsumeWebAPI.Models.Ward>
@{
    ViewData["Title"] = "Index";
}

<h2>List of ward</h2>

<table class="content-table table-bordered ">
    <thead >
        <tr>
            <th>QN</th>
            <th>ชื่อ-นามสกุล</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ward in Model)
        {
         
            <tr  style="color:rgb(0, 0, 0);@ViewBag.Title">
                <td>@ward.Ward1</td>
                <td>@ward.Name</td>
            </tr>
        }   
    </tbody>
</table>